.mdx__page_ttl,
.mdx__section__wrapper {
  --gutter-inline: calc((1520 - (var(--inline-content-size-val))) * 1px / 4);

  padding-inline: var(--gutter-inline);
}

@media (min-width: 600px) {
  .mdx__page_ttl,
  .mdx__section__wrapper {
    --gutter-inline: calc((1520 - (var(--inline-content-size-val))) * 1px / 2);
  }
}

.mdx__page_ttl {
  --margin-block-start: 5.5rem;

  margin-block-start: var(--margin-block-start);
}

@media (min-width: 768px) {
  .mdx__page_ttl {
    text-align: left;
  }
}

.note__page__ttl {
  --margin-block-start: 0;

  padding-inline: 0;
  margin-block-start: 0;
  margin-block-start: var(--margin-block-start);
  text-align: left;
}

@media (min-width: 768px) {
  .mdx__section__wrapper {
    max-inline-size: 1200px;
  }
}

.mdx__section__wrapper h2 {
  margin-block-end: 0.3lh;
  font-size: 1.5rem;
  font-weight: bold;
  /* line-height: 3; */
}

.mdx__section__wrapper h3 {
  margin-block-end: 0.3lh;
  font-size: 1.2rem;
  font-weight: bold;
  /* line-height: 2.5; */
}

.mdx__section__wrapper a {
  text-decoration: underline;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

@media (any-hover: hover) {
  .mdx__section__wrapper a:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
  }
}

.mdx__section__wrapper .ul__dots li {
  display: grid;
  grid-template-columns: auto 1fr;
}





