.section__accordion__with__interpolate {
  interpolate-size: allow-keywords;

  details {
    container-type: inline-size;
    border: 1px solid var(--red-200);

    p {
      padding: 2cqi;
    }
  }

  details::details-content {
    overflow: clip;

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: 300ms;
      transition-property: content-visibility, block-size;
      transition-behavior: allow-discrete;
    }
  }

  details:not([open])::details-content {
    block-size: 0;
  }

  summary {
    display: grid;
    padding-block: 2cqi;
    padding-inline: 2cqi;
    background-color: var(--red-400);
    color: #fff;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}

.section__accordion__with__grid {
  margin-block-start: 10rem;
  .for__animation {
    overflow: hidden;
  }

  details {
    container-type: inline-size;
    border: 1px solid var(--blue-200);
  }

  details::details-content {
    content-visibility: unset;
    display: block grid;

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: 300ms;
      transition-property: grid-template-rows;
    }
  }

  details:not([open])::details-content {
    grid-template-rows: 0fr;
  }

  details[open]::details-content {
    grid-template-rows: 1fr;
  }

  summary {
    display: grid;
    padding-block: 2cqi;
    padding-inline: 2cqi;
    background-color: var(--blue-400);
    color: #fff;
  }

  .accordion__contents__wrapper {
    padding: 2cqi;
  }

  p {
    padding: 0;
  }
}