.modal__with__command__wrap {
  .modal__with__command__btn__wrap {
    --grid-template-columns: auto;
    --grid-template-rows: repeat(3, auto);
    --column-gap: 0;
    --row-gap: 1rem;

    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    justify-content: center;
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);

    @media screen and (min-width: 768px) {
      --grid-template-columns: repeat(3, calc((180/16) * 1rem));
      --grid-template-rows: auto;
      --column-gap: 1rem;
      --row-gap: 0;
    }
  }

  button {
    padding: 0.25rem 1rem;
    text-align: center;
    background-color: oklch(from white l c h / 75%);
    border: 1px solid oklch(from black l c h / 50%);
    border-radius: 1rem;
    cursor: pointer;
  }
}

.dialog__inner {
  padding: 3rem 3rem 1.5rem;
}

.close__btn {
  display: block;
  padding: 0.25rem 1rem;
  margin-block-start: 2rem;
  margin-inline: auto;
  inline-size: calc((140/16) * 1rem);
  text-align: center;
  background-color: var(--red-400);
  color: white;
  border-radius: 1rem;
  transition: opacity 0.2s ease-out;
  opacity: 1;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }
}

